#main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* display: grid;
  grid-template-columns: repeat(1, 1fr); */
  gap: 0.5rem;
  padding-top: 1rem;
  background: #fdda0d;
}

.topContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-nav .topContainer .search-bar {
  /* position: relative; */
  width: 270px;
  height: 20px;
  padding: 5px;
  border-radius: 10px;
  text-align: left;
  outline: none;
  border: 0;
}

.search-bar::placeholder {
  /* position: absolute;
  left: 0; */
  text-align: left;
}

.topContainer .icons-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.7rem;
  position: absolute;
  right: 30%;
  transform: translate(20vw);
}

.topContainer .search-bar-icon {
  display: block;
  margin-top: 0.2rem;
}

.search-bar-icon:last-of-type {
  color: #fff;
  padding: 0.1rem 0.5rem;
  border-radius: 20px;
  text-align: center;
}

.category-nav {
  width: 100%;
  overflow: auto;
}

#main-header .category-nav .category-nav-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 41rem;
}

.category-nav-list li {
  list-style-type: none;
}

.category-nav-list li button {
  background: transparent;
  border: 0;
  color: #000;
  text-transform: capitalize;
  font-size: 13px;
}

#main-header .header-banner img {
  width: 100%;
}
